botones.txt
[
    {
        "id": "90a238318533e880",
        "type": "tab",
        "label": "Flujo 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0922669f3ab6be87",
        "type": "group",
        "z": "90a238318533e880",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9b41c0e3dee80790",
            "93744316a698413c",
            "6e1260cd95a6b0fd",
            "d1230934020d1d64"
        ],
        "x": 854,
        "y": 39,
        "w": 432,
        "h": 149.5
    },
    {
        "id": "deba2392c5a97568",
        "type": "group",
        "z": "90a238318533e880",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2c823e148dc2940c",
            "af00dcb3f529e1e0",
            "e0df6b3444b599b2",
            "611a9daa12608a6d",
            "cc47358e7ff1d7a9",
            "2750a459a0ac868b",
            "f5999db70a26d8c0",
            "0962b2f7d17bdb12",
            "480972751dfab2fb",
            "160b97041a54a53b",
            "b37199e4d15ec7fa",
            "fa2d5afd41bb8656",
            "074568961ceb1502",
            "95f333a4c90322af",
            "70458a53930fa88f",
            "bf5902034ce7fbe8",
            "1d8b509eac41324d",
            "7a85bd668e328394",
            "50abf475738a92ce",
            "0d8f0b98918faa37",
            "e1af3d1a203b869d",
            "ae9cdc05890f623a",
            "c1ca9c018aeefa6d",
            "14d8a2f8f9baa5e0",
            "c7486724b03d5d56",
            "df7bb026c832ea35",
            "695e5db55ccd021d",
            "777dbb1f225851dd",
            "f27a6622af688deb",
            "f8e971281053fe4a",
            "88bc783d6418cb0c",
            "3c69fea2d9d87620",
            "3b73b313d6bf0c39",
            "9aa548677f547af5",
            "5a0b9a207e72b64c"
        ],
        "x": 874,
        "y": 219,
        "w": 762,
        "h": 722
    },
    {
        "id": "ad1ea42d1383de4f",
        "type": "group",
        "z": "90a238318533e880",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0bf9472c1dfb2f0f",
            "59c7070ef1435a03",
            "2f3218af3de7451d",
            "f42a8db803876777",
            "992a4e7a8ba5e1ad",
            "a87129b4ba19796b",
            "de327420f9778dbc",
            "c9d40994ddbd98ad",
            "54141e9eff208554",
            "1f7cefff576267ab",
            "04ac6d3d973e9c39",
            "0ee190f71e9ccab9",
            "ebd9cc126ec85f74",
            "914c88160850eb4d",
            "8c8a998d4f565003",
            "adf0afee18cd6527",
            "ba25519570d3c65c",
            "228464f02c24b666",
            "bab5957d6453b32b",
            "de512f1d4d4b31b0",
            "4d38e5a65143e63c",
            "f8e98a3d98f132cc",
            "7adbefdc0ccb50e3",
            "e428b16ff163ac92",
            "d59fb80aa1a81b7d",
            "9f0ea3b8cd48347a",
            "685e017218588a3d",
            "cc2c1d78f90377c8",
            "80eeea6a69a39e48",
            "45654f12861eb2dd",
            "ac824e459f549a48",
            "bf5382391ffd4990",
            "c9cca454d4e4e614",
            "f5e4932b4f090148",
            "1cf4588ab8e4f3d6",
            "9eb5590d4af8344c",
            "1af60f1b557cd4d8",
            "0d1b25ed179974b6",
            "831650aff87e4aaa",
            "df511682baa2d54f",
            "b83822e820c82b90",
            "d4a9eaaff45c1aa4",
            "23bc9406ab0b409c",
            "3c962f932c526edf",
            "55022c4154a61097"
        ],
        "x": 34,
        "y": 179,
        "w": 752,
        "h": 822
    },
    {
        "id": "243dc847ef4fc4eb",
        "type": "group",
        "z": "90a238318533e880",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c8aef21a7e458ee5",
            "a5f82f6aa9e2f35e",
            "exec_kiosko"
        ],
        "x": 74,
        "y": 31.5,
        "w": 652,
        "h": 97
    },
    {
        "id": "0bf9472c1dfb2f0f",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_1_ON",
        "group": "aba92f51baf37477",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{   \"output1\": true }",
        "payloadType": "str",
        "topic": "KC868_A16/f8:b3:b7:50:d7:63/SET",
        "topicType": "str",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "2f3218af3de7451d"
            ]
        ]
    },
    {
        "id": "59c7070ef1435a03",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_1_OFF",
        "group": "aba92f51baf37477",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{   \"output1\": false }",
        "payloadType": "str",
        "topic": "KC868_A16/f8:b3:b7:50:d7:63/SET",
        "topicType": "str",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "2f3218af3de7451d"
            ]
        ]
    },
    {
        "id": "2f3218af3de7451d",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 1 OUT",
        "topic": "KC868_A16/f8:b3:b7:50:d7:63/SET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c30609b2251dc1f5",
        "x": 310,
        "y": 240,
        "wires": []
    },
    {
        "id": "f42a8db803876777",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 1 IN",
        "topic": "KC868_A16/f8:b3:b7:50:d7:63/STATE",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "992a4e7a8ba5e1ad"
            ]
        ]
    },
    {
        "id": "992a4e7a8ba5e1ad",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "order": 7,
        "group": "aba92f51baf37477",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 1",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{   \"output1\": false }",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "{   \"output1\": true }",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 1",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "a87129b4ba19796b",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_2_ON",
        "group": "aba92f51baf37477",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{   \"output1\": true }",
        "payloadType": "str",
        "topic": "KC868_A16/f8:b3:b7:50:d7:63/SET",
        "topicType": "str",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "c9d40994ddbd98ad"
            ]
        ]
    },
    {
        "id": "de327420f9778dbc",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_2_OFF",
        "group": "aba92f51baf37477",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{   \"output1\": false }",
        "payloadType": "str",
        "topic": "KC868_A16/f8:b3:b7:50:d7:63/SET",
        "topicType": "str",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "c9d40994ddbd98ad"
            ]
        ]
    },
    {
        "id": "c9d40994ddbd98ad",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 2 OUT",
        "topic": "KC868_A16/f8:b3:b7:50:d7:63/SET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 310,
        "y": 340,
        "wires": []
    },
    {
        "id": "54141e9eff208554",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 2 IN",
        "topic": "KC868_A16/f8:b3:b7:50:d7:63/STATE",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "1f7cefff576267ab"
            ]
        ]
    },
    {
        "id": "1f7cefff576267ab",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "order": 8,
        "group": "aba92f51baf37477",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 2",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{   \"output1\": false }",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "{   \"output1\": true }",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 2",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "04ac6d3d973e9c39",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_3_ON",
        "group": "aba92f51baf37477",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"output1\":{\"value\":true}}",
        "payloadType": "str",
        "topic": "KC868_A16/F8B3B750D760/SET",
        "topicType": "str",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "ebd9cc126ec85f74"
            ]
        ]
    },
    {
        "id": "0ee190f71e9ccab9",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_3_OFF",
        "group": "aba92f51baf37477",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"output1\":{\"value\":false}}",
        "payloadType": "str",
        "topic": "KC868_A16/F8B3B750D760/SET",
        "topicType": "str",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "ebd9cc126ec85f74"
            ]
        ]
    },
    {
        "id": "ebd9cc126ec85f74",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 3 OUT",
        "topic": "KC868_A16/f8:b3:b7:50:d7:63/SET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 310,
        "y": 440,
        "wires": []
    },
    {
        "id": "914c88160850eb4d",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 3 IN",
        "topic": "KC868_A16/F8B3B750D760/STATE",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "8c8a998d4f565003"
            ]
        ]
    },
    {
        "id": "8c8a998d4f565003",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "order": 9,
        "group": "aba92f51baf37477",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 3",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 3",
        "x": 690,
        "y": 440,
        "wires": []
    },
    {
        "id": "adf0afee18cd6527",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_4_ON",
        "group": "aba92f51baf37477",
        "order": 10,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "kc868-a16/relay4/set",
        "topicType": "str",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "228464f02c24b666"
            ]
        ]
    },
    {
        "id": "ba25519570d3c65c",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_4_OFF",
        "group": "aba92f51baf37477",
        "order": 11,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "kc868-a16/relay4/set",
        "topicType": "str",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "228464f02c24b666"
            ]
        ]
    },
    {
        "id": "228464f02c24b666",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 4 OUT",
        "topic": "KC868_A16/F8B3B750D760/SET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 310,
        "y": 540,
        "wires": []
    },
    {
        "id": "bab5957d6453b32b",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 4 IN",
        "topic": "KC868_A16/F8B3B750D760/STATE",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "de512f1d4d4b31b0"
            ]
        ]
    },
    {
        "id": "de512f1d4d4b31b0",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "order": 16,
        "group": "aba92f51baf37477",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 4",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 4",
        "x": 690,
        "y": 480,
        "wires": []
    },
    {
        "id": "4d38e5a65143e63c",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_5_ON",
        "group": "aba92f51baf37477",
        "order": 12,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "kc868-a16/relay5/set",
        "topicType": "str",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "7adbefdc0ccb50e3"
            ]
        ]
    },
    {
        "id": "f8e98a3d98f132cc",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_5_OFF",
        "group": "aba92f51baf37477",
        "order": 13,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "kc868-a16/relay5/set",
        "topicType": "str",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "7adbefdc0ccb50e3"
            ]
        ]
    },
    {
        "id": "7adbefdc0ccb50e3",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 5 OUT",
        "topic": "KC868_A16/F8B3B750D760/SET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 310,
        "y": 640,
        "wires": []
    },
    {
        "id": "e428b16ff163ac92",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 5 IN",
        "topic": "KC868_A16/F8B3B750D760/STATE",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 510,
        "y": 520,
        "wires": [
            [
                "d59fb80aa1a81b7d"
            ]
        ]
    },
    {
        "id": "d59fb80aa1a81b7d",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "order": 17,
        "group": "aba92f51baf37477",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 5",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 5",
        "x": 690,
        "y": 520,
        "wires": []
    },
    {
        "id": "9f0ea3b8cd48347a",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_6_ON",
        "group": "aba92f51baf37477",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_6",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "kc868-a16/relay6/set",
        "topicType": "str",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "cc2c1d78f90377c8"
            ]
        ]
    },
    {
        "id": "685e017218588a3d",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_6_OFF",
        "group": "aba92f51baf37477",
        "order": 15,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_6",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "kc868-a16/relay6/set",
        "topicType": "str",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "cc2c1d78f90377c8"
            ]
        ]
    },
    {
        "id": "cc2c1d78f90377c8",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 6 OUT",
        "topic": "KC868_A16/F8B3B750D760/SET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 310,
        "y": 740,
        "wires": []
    },
    {
        "id": "80eeea6a69a39e48",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 6 IN",
        "topic": "KC868_A16/F8B3B750D760/STATE",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 510,
        "y": 560,
        "wires": [
            [
                "45654f12861eb2dd"
            ]
        ]
    },
    {
        "id": "45654f12861eb2dd",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "order": 18,
        "group": "aba92f51baf37477",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 6",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 6",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "ac824e459f549a48",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_7_ON",
        "group": "aba92f51baf37477",
        "order": 19,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "kc868-a16/relay7/set",
        "topicType": "str",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "c9cca454d4e4e614"
            ]
        ]
    },
    {
        "id": "bf5382391ffd4990",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_7_OFF",
        "group": "aba92f51baf37477",
        "order": 20,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "kc868-a16/relay7/set",
        "topicType": "str",
        "x": 140,
        "y": 860,
        "wires": [
            [
                "c9cca454d4e4e614"
            ]
        ]
    },
    {
        "id": "c9cca454d4e4e614",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 7 OUT",
        "topic": "kc868-a16/switch/relay_7/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 310,
        "y": 840,
        "wires": []
    },
    {
        "id": "f5e4932b4f090148",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 7 IN",
        "topic": "kc868-a16/switch/relay_7/command",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 510,
        "y": 600,
        "wires": [
            [
                "1cf4588ab8e4f3d6"
            ]
        ]
    },
    {
        "id": "1cf4588ab8e4f3d6",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "order": 25,
        "group": "aba92f51baf37477",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 7",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 7",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "9eb5590d4af8344c",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_8_ON",
        "group": "aba92f51baf37477",
        "order": 21,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_8",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "kc868-a16/relay8/set",
        "topicType": "str",
        "x": 150,
        "y": 920,
        "wires": [
            [
                "0d1b25ed179974b6"
            ]
        ]
    },
    {
        "id": "1af60f1b557cd4d8",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_8_OFF",
        "group": "aba92f51baf37477",
        "order": 22,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_8",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "kc868-a16/relay8/set",
        "topicType": "str",
        "x": 140,
        "y": 960,
        "wires": [
            [
                "0d1b25ed179974b6"
            ]
        ]
    },
    {
        "id": "0d1b25ed179974b6",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 8 OUT",
        "topic": "kc868-a16/switch/relay_8/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 310,
        "y": 940,
        "wires": []
    },
    {
        "id": "831650aff87e4aaa",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 8 IN",
        "topic": "kc868-a16/switch/relay_8/command",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 510,
        "y": 640,
        "wires": [
            [
                "df511682baa2d54f"
            ]
        ]
    },
    {
        "id": "df511682baa2d54f",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "order": 26,
        "group": "aba92f51baf37477",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 8",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 8",
        "x": 690,
        "y": 640,
        "wires": []
    },
    {
        "id": "b83822e820c82b90",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_9_ON",
        "group": "aba92f51baf37477",
        "order": 23,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_9",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "kc868-a16/relay9/set",
        "topicType": "str",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "23bc9406ab0b409c"
            ]
        ]
    },
    {
        "id": "d4a9eaaff45c1aa4",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Juego_9_OFF",
        "group": "aba92f51baf37477",
        "order": 24,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_9",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "kc868-a16/relay9/set",
        "topicType": "str",
        "x": 520,
        "y": 260,
        "wires": [
            [
                "23bc9406ab0b409c"
            ]
        ]
    },
    {
        "id": "23bc9406ab0b409c",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 9 OUT",
        "topic": "kc868-a16/switch/relay_9/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c30609b2251dc1f5",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "3c962f932c526edf",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "name": "Relay 9 IN",
        "topic": "kc868-a16/switch/relay_9/command",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 520,
        "y": 700,
        "wires": [
            [
                "55022c4154a61097"
            ]
        ]
    },
    {
        "id": "55022c4154a61097",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "ad1ea42d1383de4f",
        "order": 27,
        "group": "aba92f51baf37477",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 9",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 9",
        "x": 670,
        "y": 700,
        "wires": []
    },
    {
        "id": "2c823e148dc2940c",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Juego_10_ON",
        "group": "080fb57329815794",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_10",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "kc868-a16/relay10/set",
        "topicType": "str",
        "x": 980,
        "y": 260,
        "wires": [
            [
                "e0df6b3444b599b2"
            ]
        ]
    },
    {
        "id": "af00dcb3f529e1e0",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Juego_10_OFF",
        "group": "080fb57329815794",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_10",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "kc868-a16/relay10/set",
        "topicType": "str",
        "x": 980,
        "y": 300,
        "wires": [
            [
                "e0df6b3444b599b2"
            ]
        ]
    },
    {
        "id": "e0df6b3444b599b2",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Relay 10 OUT",
        "topic": "kc868-a16/switch/relay_10/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 1160,
        "y": 280,
        "wires": []
    },
    {
        "id": "611a9daa12608a6d",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Relay 10 IN",
        "topic": "kc868-a16/switch/relay_10/command",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1340,
        "y": 580,
        "wires": [
            [
                "cc47358e7ff1d7a9"
            ]
        ]
    },
    {
        "id": "cc47358e7ff1d7a9",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "order": 7,
        "group": "080fb57329815794",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 10",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 10",
        "x": 1520,
        "y": 580,
        "wires": []
    },
    {
        "id": "2750a459a0ac868b",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Juego_11_ON",
        "group": "080fb57329815794",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_11",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "kc868-a16/relay11/set",
        "topicType": "str",
        "x": 980,
        "y": 360,
        "wires": [
            [
                "0962b2f7d17bdb12"
            ]
        ]
    },
    {
        "id": "f5999db70a26d8c0",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Juego_11_OFF",
        "group": "080fb57329815794",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_11",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "kc868-a16/relay11/set",
        "topicType": "str",
        "x": 980,
        "y": 400,
        "wires": [
            [
                "0962b2f7d17bdb12"
            ]
        ]
    },
    {
        "id": "0962b2f7d17bdb12",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Relay 11 OUT",
        "topic": "kc868-a16/switch/relay_11/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 1160,
        "y": 380,
        "wires": []
    },
    {
        "id": "480972751dfab2fb",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Relay 11 IN",
        "topic": "kc868-a16/switch/relay_11/command",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1340,
        "y": 620,
        "wires": [
            [
                "160b97041a54a53b"
            ]
        ]
    },
    {
        "id": "160b97041a54a53b",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "order": 8,
        "group": "080fb57329815794",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 11",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 11",
        "x": 1520,
        "y": 620,
        "wires": []
    },
    {
        "id": "b37199e4d15ec7fa",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Juego_12_ON",
        "group": "080fb57329815794",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_12",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "kc868-a16/relay12/set",
        "topicType": "str",
        "x": 980,
        "y": 460,
        "wires": [
            [
                "074568961ceb1502"
            ]
        ]
    },
    {
        "id": "fa2d5afd41bb8656",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Juego_12_OFF",
        "group": "080fb57329815794",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_12",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "kc868-a16/relay12/set",
        "topicType": "str",
        "x": 980,
        "y": 500,
        "wires": [
            [
                "074568961ceb1502"
            ]
        ]
    },
    {
        "id": "074568961ceb1502",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Relay 12 OUT",
        "topic": "kc868-a16/switch/relay_12/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 1160,
        "y": 480,
        "wires": []
    },
    {
        "id": "95f333a4c90322af",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Relay 12 IN",
        "topic": "kc868-a16/switch/relay_12/command",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1340,
        "y": 660,
        "wires": [
            [
                "70458a53930fa88f"
            ]
        ]
    },
    {
        "id": "70458a53930fa88f",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "order": 9,
        "group": "080fb57329815794",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 12",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 12",
        "x": 1520,
        "y": 660,
        "wires": []
    },
    {
        "id": "bf5902034ce7fbe8",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Juego_13_ON",
        "group": "080fb57329815794",
        "order": 10,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_13",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "kc868-a16/relay13/set",
        "topicType": "str",
        "x": 980,
        "y": 560,
        "wires": [
            [
                "7a85bd668e328394"
            ]
        ]
    },
    {
        "id": "1d8b509eac41324d",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Juego_13_OFF",
        "group": "080fb57329815794",
        "order": 11,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_13",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "kc868-a16/relay13/set",
        "topicType": "str",
        "x": 980,
        "y": 600,
        "wires": [
            [
                "7a85bd668e328394"
            ]
        ]
    },
    {
        "id": "7a85bd668e328394",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Relay 13 OUT",
        "topic": "kc868-a16/switch/relay_13/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 1160,
        "y": 580,
        "wires": []
    },
    {
        "id": "50abf475738a92ce",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Relay 13 IN",
        "topic": "kc868-a16/switch/relay_13/command",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1340,
        "y": 700,
        "wires": [
            [
                "0d8f0b98918faa37"
            ]
        ]
    },
    {
        "id": "0d8f0b98918faa37",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "order": 16,
        "group": "080fb57329815794",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 13",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 13",
        "x": 1520,
        "y": 700,
        "wires": []
    },
    {
        "id": "e1af3d1a203b869d",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Juego_14_ON",
        "group": "080fb57329815794",
        "order": 12,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_14",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "kc868-a16/relay14/set",
        "topicType": "str",
        "x": 980,
        "y": 660,
        "wires": [
            [
                "c1ca9c018aeefa6d"
            ]
        ]
    },
    {
        "id": "ae9cdc05890f623a",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Juego_14_OFF",
        "group": "080fb57329815794",
        "order": 13,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_14",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "kc868-a16/relay14/set",
        "topicType": "str",
        "x": 980,
        "y": 700,
        "wires": [
            [
                "c1ca9c018aeefa6d"
            ]
        ]
    },
    {
        "id": "c1ca9c018aeefa6d",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Relay 14 OUT",
        "topic": "kc868-a16/switch/relay_14/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 1160,
        "y": 680,
        "wires": []
    },
    {
        "id": "14d8a2f8f9baa5e0",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Relay 14 IN",
        "topic": "kc868-a16/switch/relay_14/command",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1340,
        "y": 740,
        "wires": [
            [
                "c7486724b03d5d56"
            ]
        ]
    },
    {
        "id": "c7486724b03d5d56",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "order": 17,
        "group": "080fb57329815794",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 14",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 14",
        "x": 1530,
        "y": 740,
        "wires": []
    },
    {
        "id": "df7bb026c832ea35",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Juego_15_ON",
        "group": "080fb57329815794",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_15",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "kc868-a16/relay15/set",
        "topicType": "str",
        "x": 980,
        "y": 760,
        "wires": [
            [
                "777dbb1f225851dd"
            ]
        ]
    },
    {
        "id": "695e5db55ccd021d",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Juego_15_OFF",
        "group": "080fb57329815794",
        "order": 15,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_15",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "kc868-a16/relay15/set",
        "topicType": "str",
        "x": 980,
        "y": 800,
        "wires": [
            [
                "777dbb1f225851dd"
            ]
        ]
    },
    {
        "id": "777dbb1f225851dd",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Relay 15 OUT",
        "topic": "kc868-a16/switch/relay_15/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 1160,
        "y": 780,
        "wires": []
    },
    {
        "id": "f27a6622af688deb",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Relay 15 IN",
        "topic": "kc868-a16/switch/relay_15/command",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1340,
        "y": 780,
        "wires": [
            [
                "f8e971281053fe4a"
            ]
        ]
    },
    {
        "id": "f8e971281053fe4a",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "order": 18,
        "group": "080fb57329815794",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 15",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 15",
        "x": 1520,
        "y": 780,
        "wires": []
    },
    {
        "id": "88bc783d6418cb0c",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Juego_16_ON",
        "group": "080fb57329815794",
        "order": 19,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "ON_16",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "kc868-a16/relay16/set",
        "topicType": "str",
        "x": 980,
        "y": 860,
        "wires": [
            [
                "3b73b313d6bf0c39"
            ]
        ]
    },
    {
        "id": "3c69fea2d9d87620",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Juego_16_OFF",
        "group": "080fb57329815794",
        "order": 20,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "OFF_16",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "kc868-a16/relay16/set",
        "topicType": "str",
        "x": 980,
        "y": 900,
        "wires": [
            [
                "3b73b313d6bf0c39"
            ]
        ]
    },
    {
        "id": "3b73b313d6bf0c39",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Relay 16 OUT",
        "topic": "kc868-a16/switch/relay_16/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 1160,
        "y": 880,
        "wires": []
    },
    {
        "id": "9aa548677f547af5",
        "type": "mqtt in",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "name": "Relay 16 IN",
        "topic": "kc868-a16/switch/relay_16/command",
        "qos": "2",
        "datatype": "auto",
        "broker": "a33285c308b9693c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1340,
        "y": 820,
        "wires": [
            [
                "5a0b9a207e72b64c"
            ]
        ]
    },
    {
        "id": "5a0b9a207e72b64c",
        "type": "ui_led",
        "z": "90a238318533e880",
        "g": "deba2392c5a97568",
        "order": 22,
        "group": "080fb57329815794",
        "width": 0,
        "height": 0,
        "label": "Estado Juego 16",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Juego 16",
        "x": 1520,
        "y": 820,
        "wires": []
    },
    {
        "id": "9b41c0e3dee80790",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "0922669f3ab6be87",
        "name": "Reiniciar Pi",
        "group": "9a3358e3ad8c3409",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Reiniciar Pi",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "reiniciar",
        "payloadType": "str",
        "topic": "sistema/reinicio",
        "topicType": "str",
        "x": 950,
        "y": 80,
        "wires": [
            [
                "93744316a698413c"
            ]
        ]
    },
    {
        "id": "93744316a698413c",
        "type": "mqtt out",
        "z": "90a238318533e880",
        "g": "0922669f3ab6be87",
        "name": "MQTT Reiniciar Pi",
        "topic": "sistema/reinicio",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a33285c308b9693c",
        "x": 1170,
        "y": 80,
        "wires": []
    },
    {
        "id": "c8aef21a7e458ee5",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "243dc847ef4fc4eb",
        "name": "Abrir Kiosko",
        "group": "9a3358e3ad8c3409",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Abrir Pantalla Juego",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-tv",
        "payload": "abrir-kiosko",
        "payloadType": "str",
        "topic": "sistema/kiosko",
        "topicType": "str",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "a5f82f6aa9e2f35e"
            ]
        ]
    },
    {
        "id": "a5f82f6aa9e2f35e",
        "type": "switch",
        "z": "90a238318533e880",
        "g": "243dc847ef4fc4eb",
        "name": "Si es abrir kiosko",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "abrir-kiosko",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 80,
        "wires": [
            [
                "exec_kiosko"
            ]
        ]
    },
    {
        "id": "exec_kiosko",
        "type": "exec",
        "z": "90a238318533e880",
        "g": "243dc847ef4fc4eb",
        "command": "pkill chromium-browser; export DISPLAY=:0 && chromium-browser --noerrdialogs --disable-infobars --kiosk http://localhost:1880/pantalla-juego/",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Modo Kiosko",
        "x": 630,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d1230934020d1d64",
        "type": "ui_button",
        "z": "90a238318533e880",
        "g": "0922669f3ab6be87",
        "name": "Cerrar Chromium",
        "group": "9a3358e3ad8c3409",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Salir de pantalla",
        "tooltip": "Cierra Chromium completamente",
        "color": "#ffffff",
        "bgcolor": "#d32f2f",
        "className": "",
        "icon": "cancel",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 970,
        "y": 140,
        "wires": [
            [
                "6e1260cd95a6b0fd"
            ]
        ]
    },
    {
        "id": "6e1260cd95a6b0fd",
        "type": "exec",
        "z": "90a238318533e880",
        "g": "0922669f3ab6be87",
        "command": "pkill chromium",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Cerrar Chromium",
        "x": 1170,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "01ce65842702258b",
        "type": "ui_spacer",
        "z": "90a238318533e880",
        "name": "spacer",
        "group": "080fb57329815794",
        "order": 21,
        "width": 4,
        "height": 1
    },
    {
        "id": "aba92f51baf37477",
        "type": "ui_group",
        "name": "CONTROL DE SALIDAS",
        "tab": "0468bfd72bbd6984",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c30609b2251dc1f5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.250",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a33285c308b9693c",
        "type": "mqtt-broker",
        "name": "Broker Escape",
        "broker": "192.168.1.250",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "080fb57329815794",
        "type": "ui_group",
        "name": "CONTROL DE SALIDAS_1",
        "tab": "0468bfd72bbd6984",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a3358e3ad8c3409",
        "type": "ui_group",
        "name": "Estado Raspberry Pi",
        "tab": "dfbd861a4b6a0f05",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "0468bfd72bbd6984",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dfbd861a4b6a0f05",
        "type": "ui_tab",
        "name": "Control rasberry pi",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]